.todo-container:hover {
    background-color: grey;
}

.todo-content {
    overflow: hidden;
    text-overflow: ellipsis;
}

.editBtn {
    background-color: darkcyan;
}

.delBtn {
    background-color: darkred;
}